<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
    <%= js :application %>
    <%= css :application %>
  

</head>
<body>
  <div class="row">
    
    <div class="large-centered columns">
<table>
<thead>
  <tr>
    <th>#</th>
    <th>Asunto</th>
    <th>Estado</th>
    <th>Tipo</th>
    <th>Tracker</th>
    <th>Prioridad</th>
    <th>Asignado a</th>
    <th>fechas comienzo/fin</th>
  </tr>
</thead>
<tbody>

  <% for @issue in @issues  %>
  <tr>
   <td>
    <a target="_blank" href="<%= @path %>issues/<%= @issue['id'] %>"> 
      <%= @issue['id'] %>
    </a>
   </td>
   <td>
    <span  data-tooltip aria-haspopup="true" class="has-tip" title="<%= @issue['description'] %>" >
      <%= @issue['subject'] %>
    </span>
   </td>
   <td><%= @issue['status']['name'] %><br><%= @issue['status']['id'] %> </td>
   <td><%= @issue['tracker']['name'] %><br> <%= @issue['tracker']['id'] %></td>
   <td><%= @issue['status']['name'] %> <br><%= @issue['status']['id'] %> </td>
   <td><%= @issue['priority']['name'] %><br> <%= @issue['priority']['id'] %> </td>
   <td><%= @issue['assigned_to']['name']%><br> <%= @issue['assigned_to']['id'] %></td>
   <td><%= @issue['start_date'] %><br><%= @issue['updated_on'] %></td>
  <tr>    
  <% end %>

</tbody>
</table>
</div>
</div>
</body>
