<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
    <%= js :application %>
    <%= css :application %>
  

</head>
<body>
<div class="row" style="height: 50px;">


  <div class="small-12 columns">
    <div class="icon-bar five-up" role="navigation"style="    position: fixed;
    z-index: 99;" >
      <a class="item">
        <img src="../assets/img/images/fi-home.svg" >
        <label>Home</label>
      </a>
      <a class="item">
        <img src="../assets/img/images/fi-bookmark.svg" >
        <label>Bookmark</label>
      </a>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 25px;">    
    <div class="small-14 columns">


<% # raise @members.inspect %>

<table>
<thead>
  <tr>
    <th>#</th>
    <th>Asunto</th>
    <th>Tipo</th>
    <th>Estado</th>
    <th>Prioridad</th>
    <th>Asignado a</th>
    <th>fechas comienzo/fin</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>

  <% for @issue in @issues  %>
  <tr>
    <td>
      <a target="_blank" href="<%= @path %>issues/<%= @issue['id'] %>"> 
        <%= @issue['id'] %>
      </a>
    </td>
    <td>
      <span  data-tooltip aria-haspopup="true" class="has-tip" title="<%= @issue['description'] %>" >
        <%= @issue['subject'] %>
      </span>
    </td>

    <td>
      <%= select('tracker', @trackers, @issue['tracker']['id']) %>
        
    </td>



    <td><%= @issue['status']['name'] %> <br><%= @issue['status']['id'] %> </td>
    <td><%= select('prioriti', @priorities, @issue['priority']['id']) %> </td>
    <td><%= select('member', @members,@issue['assigned_to']['id']) %>
   
    </td>
    <td><%= @issue['start_date'] %><br><%= @issue['updated_on'] %></td>
    <td><i class="saveissue step fi-save size-20"></i></td>
  <tr>    
  <% end %>

</tbody>
</table>
</div>
</div>
</body>
</html>